<header class="page-header">
    <h1>Users</h1>
</header>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <a href="#/users/add" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs">Add User</span>
                    </a>
                </div>
                <input type="search" class="form-control" ng-model="search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>Role</th>
                        <th>Action(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | filter: {'username':search}">
                        <td class="hidden-xs">{{user.id}}</td>
                        <td><a href="#/users/{{user.id}}">{{user.username}}</a></td>
                        <td>{{user.email}}</td>
                        <td>{{user.firstName}} {{user.surname}}</td>
                        <td>{{user.role.name}}</td>
                        <td>
                            <a href="#/users/{{user.id}}/edit" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs">Edit</span>
                            </a>
                            <a href="#/users/{{user.id}}/remove" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Remove</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
