<header class="page-header">
    <h1>Remove Rule</h1>
</header>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Remove Rule</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="delete()">
                    <div class="form-group">
                        <label class="control-label">Distance</label>
                        <p class="form-control-static">{{rule.distance}}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Parameters</label>
                        <p class="form-control-static">{{rule.parameters}}</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Action</label>
                        <p class="form-control-static"><span ng-repeat="action in rule.action">{{action.method}}<br></span></p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Group</label>
                        <p class="form-control-static"><span ng-repeat="userGroup in rule.userGroup">{{userGroup.name}}<br></span></p>
                    </div>
                    <button type="submit" ng-show="!removeError" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="hidden-xs">Remove Rule</span>
                    </button>
                    <button type="button" ng-show="removeError" ng-disabled="true" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="hidden-xs">Unable to remove this rule.</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
