<header class="page-header">
    <h1>Rules</h1>
</header>

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <a href="#/rules/add" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs">Add rule</span>
                    </a>
                </div>
                <input type="search" class="form-control" ng-model="search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Rules</h3>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th class="hidden-xs">ID</th>
                    <th>Distance</th>
                    <th>Usergroups</th>
                    <th>Actions</th>
                    <th>Parameters</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="rule in rules | filter: {'name':search}">
                    <td class="hidden-xs"><a href="#/rules/{{rule.id}}">{{rule.id}}</a></td>
                    <td>{{rule.distance}}</td>
                    <td><span ng-repeat="userGroup in rule.userGroup">{{userGroup.name}}<br></span></td>
                    <td><span ng-repeat="action in rule.action">{{action.method}}<br></span></td>
                    <td>{{rule.parameters}}</td>
                    <td>
                        <a href="#/rules/{{rule.id}}/edit" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs">Edit</span>
                            </a>
                            <a href="#/rules/{{rule.id}}/remove" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Remove</span>
                            </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
