<header class="page-header">
    <h1>Remove Action</h1>
</header>
<div class="row">
    <div class="col-xs-12 col-sm-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Remove Action</h3>
            </div>
            <div class="panel-body">
                <form ng-submit="delete()">
                    <div class="form-group">
                        <label class="control-label">Method</label>
                        <p class="form-control-static">{{action.method}}</p>
                    </div>
                    <button type="submit" ng-show="!removeError" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="hidden-xs">Remove Action</span>
                    </button>
                    <button type="button" ng-show="removeError" ng-disabled="true" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="hidden-xs">Unable to remove this action. There is still a rule with this action present.</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
