<header class="page-header">
    <h1>Actions</h1>
</header>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <a href="#/actions/add" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs">Add Action</span>
                    </a>
                </div>
                <input type="search" class="form-control" ng-model="search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Actions</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Method</th>
                        <th>Action(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="action in actions | filter: {'method':search}">
                        <td class="hidden-xs">{{action.id}}</td>
                        <td><a href="#/actions/{{action.id}}">{{action.method}}</a></td>
                        <td>
                            <a href="#/actions/{{action.id}}/edit" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs">Edit</span>
                            </a>
                            <a href="#/actions/{{action.id}}/remove" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Remove</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
