<header class="page-header">
    <h1>Beacons</h1>
</header>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-btn">
                    <a href="#/beacons/add" class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span class="hidden-xs">Add Beacon</span>
                    </a>
                </div>
                <input type="search" class="form-control" ng-model="search">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default">Search</button>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Beacons</h3>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Name</th>
                        <th>Remarks</th>
                        <th>Latitude/Longitude</th>
                        <th>Status</th>
                        <th>Major/Minor</th>
                        <th>Type/Capabilities</th>
                        <th>Action(s)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beacon in beacons| filter: {'name':search}">
                        <td class="hidden-xs">{{beacon.id}}</td>
                        <td><a href="#/beacons/{{beacon.id}}">{{beacon.name}}</a></td>
                        <td>{{beacon.remarks}}</td>
                        <td>{{beacon.latitude}}/{{beacon.longitude}}</td>
                        <td>{{beacon.status}}</td>
                        <td>{{beacon.major}}/{{beacon.minor}}</td>
                        <td>{{beacon.type}}/{{beacon.capabilities}}</td>
                        <td>
                            <a href="#/beacons/{{beacon.id}}/edit" class="btn btn-warning btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs">Edit</span>
                            </a>
                            <a href="#/beacons/{{beacon.id}}/remove" class="btn btn-danger btn-xs">
                                <span class="glyphicon glyphicon-trash"></span>
                                <span class="hidden-xs">Remove</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
